<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phase1activity">

    <application
        android:name=".service.AppManagerImpl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.maze_game.MazeInstructionsActivity"></activity>
        <activity android:name=".ui.leaderboard.LeaderboardViewImpl" />
        <activity android:name=".ui.menu.CreditsActivity" />
        <activity android:name=".ui.matching_game.ChooseLevelActivity" />
        <activity android:name=".ui.matching_game.MatchingInstructionsActivity" />
        <activity android:name=".ui.maze_game.MazeFinishActivity" />
        <activity android:name=".ui.reaction_game.ReactionGameViewImpl" />
        <activity android:name=".ui.reaction_game.ReactionInstructionsActivity" />
        <activity android:name=".ui.maze_game.MazeMenuActivity" />
        <activity android:name=".ui.maze_game.MazeGameViewImpl" />
        <activity android:name=".ui.menu.PersonalStatsActivity" />
        <activity android:name=".ui.menu.StartActivity" />
        <activity android:name=".ui.menu.CustomizationActivity" />
        <activity android:name=".ui.matching_game.MatchingGameViewImpl" />
        <activity android:name=".ui.user_access.RegisterActivity" />
        <activity android:name=".ui.user_access.LogInActivity" />
        <activity android:name=".ui.menu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>