<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phase1activity">

    <application
        android:name=".Core.Transmission.Overseers.AppManager"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.MenuScreens.LeaderboardViewImpl"></activity>
        <activity android:name=".UI.MenuScreens.CreditsActivity" />
        <activity android:name=".UI.MatchingGame.ChooseLevelActivity" />
        <activity android:name=".UI.MatchingGame.MatchingInstructionsActivity" />
        <activity android:name=".UI.MazeGame.MazeFinishActivity" />
        <activity android:name=".UI.ReactionGame.ReactionGameView" />
        <activity android:name=".UI.ReactionGame.ReactionInstructionsActivity" />
        <activity android:name=".UI.MazeGame.MazeMenuActivity" />
        <activity android:name=".UI.MazeGame.MazeGameActivity" />
        <activity android:name=".UI.MenuScreens.PersonalStatsActivity" />
        <activity android:name=".UI.MenuScreens.StartActivity" />
        <activity android:name=".UI.MenuScreens.CustomizationActivity" />
        <activity android:name=".UI.MatchingGame.MatchingGameActivity" />
        <activity android:name=".UI.UserAccess.RegisterActivity" />
        <activity android:name=".UI.UserAccess.LogInActivity" />
        <activity android:name=".UI.MenuScreens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>